@using Bug_Tracker.Models;
@model Tuple<List<Project>, List<Ticket>, List<User>>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Dashboard", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-bug"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Bug Tracker</div>
                </a>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider my-0">
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Dashboard", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    Restricted Pages
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Admin</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Admin Pages:</h6>
                        <a class="collapse-item" href="@Url.Action("ManageRoleProject", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                            Manage Role
                            <br>
                            <small class="form-text text-muted">Change User Role/Status</small>
                        </a>
                        <a class="collapse-item" href="@Url.Action("ManageUser", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                            Manage User
                            <br>
                            <small class="form-text text-muted">Invite or Remove User</small>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    User Pages
                </div>
            </li>

            <!-- Nav Item - Projects -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Project", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>My Projects</span>
                </a>
            </li>

            <!-- Nav Item - Tickets -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tickets", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-table"></i>
                    <span>My Tickets</span>
                </a>
            </li>
            @if (HttpContext.Current.Session["ID"].ToString() != "Guest")
            {
                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UserProfile", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                        <i class="fas fa-user-tie"></i>
                        <span>Profile</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider d-none d-md-block">
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Messages -->
                        @if (HttpContext.Current.Session["ID"].ToString() != "Guest")
                        {
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <!-- Counter - Messages -->
                                    @{if (HttpContext.Current.Session["MessageList"] != null)
                                        {
                                            List<Bug_Tracker.Models.Message> messages = HttpContext.Current.Session["MessageList"] as List<Bug_Tracker.Models.Message>;

                                            <span class="badge badge-danger badge-counter">
                                                @messages.Count
                                            </span>
                                        }
                                    }
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message
                                    </h6>
                                    @{if (HttpContext.Current.Session["MessageList"] != null)
                                        {
                                            //https://stackoverflow.com/questions/8194238/how-to-retrieve-a-generic-list-from-session
                                            List<Bug_Tracker.Models.Message> messages = HttpContext.Current.Session["MessageList"] as List<Bug_Tracker.Models.Message>;
                                            int condition = 5; //Default Message Size Shown on Screen is 5
                                            if (messages != null)
                                            {
                                                if (messages.Count < 5)
                                                {
                                                    condition = messages.Count;
                                                }

                                                for (int i = 0; i < condition; i++)
                                                {
                                                    <a class="dropdown-item d-flex align-items-center" href="~/User/Message">
                                                        <div class="font-weight-bold">
                                                            <div class="text-truncate">Sender: @messages[i].Sender</div>
                                                            <div class="small text-gray-500">Subject: @messages[i].Subject</div>
                                                            <div class="small text-gray-500">Message: @messages[i].Content</div>
                                                        </div>
                                                    </a>
                                                }
                                            }

                                        }
                                    }
                                    <a class="dropdown-item text-center small text-gray-500" href="~/User/Message">Read More Messages</a>
                                    <a class="dropdown-item text-center small text-gray-500" href="~/User/SendMessage">Send a Message</a>
                                </div>
                            </li>
                        }


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @if (HttpContext.Current.Session["Username"] != null)
                                    {
                                        @HttpContext.Current.Session["Username"].ToString()
                                    }
                                </span>
                                <img class="img-profile rounded-circle" src="~/Content/img/profile.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @if (HttpContext.Current.Session["ID"].ToString() != "Guest")
                                {
                                    <a class="dropdown-item" href="@Url.Action("UserProfile", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                }
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
                    <div style="width:100%">
                        <div style="width: 50%; float: left;">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4" style="margin-right:10px; margin-bottom:10px">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Project Name</th>
                                                    <th>Details</th>
                                                    <th>Edit Project</th>
                                                    <th>Create Ticket</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var project in Model.Item1)
                                                {
                                                    <tr>
                                                        <td>
                                                            @project.ProjectName
                                                            @if (HttpContext.Current.Session["ID"].ToString() == "Guest")
                                                            {
                                                                <p class="font-weight-light" style="font-size:70%;">Project Role: @HttpContext.Current.Session["AdminStatus"].ToString()</p>
                                                            }
                                                            else
                                                            {
                                                                foreach (var user in Model.Item3)
                                                                {
                                                                    for (int i = 0; i < user.AdminStatus.Count; i++)
                                                                    {
                                                                        if (user.AdminStatus[i].ProjectID.ToString() == project._id.ToString())
                                                                        {
                                                                            <p class="font-weight-light" style="font-size:70%;">Project Role: @Html.DisplayFor(modelItem => user.AdminStatus[i].Status)</p>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Details", "ProjectDetails", new { id = project._id })
                                                        </td>
                                                        <td>
                                                            @using (Html.BeginForm("Redirect", "User", FormMethod.Post))
                                                            {
                                                                @Html.Hidden("ProjectID", project._id);
                                                                @Html.Hidden("Address", "EditProject");
                                                                <button type="submit" style="padding:0;" class="btn btn-link">Edit Project</button>
                                                            }
                                                        </td>
                                                        <td>
                                                            @using (Html.BeginForm("Redirect", "User", FormMethod.Post))
                                                            {
                                                                @Html.Hidden("ProjectID", project._id);
                                                                @Html.Hidden("Address", "CreateTicket");
                                                                <button type="submit" style="padding:0;" class="btn btn-link">Create a Ticket</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="width: 50%; float: left;">
                            <div class="card shadow mb-4" style="margin-right:10px; margin-bottom:10px">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Assigned Developer</th>
                                                    <th>Ticket Title</th>
                                                    <th>Ticket Status</th>
                                                    <th>Details</th>
                                                    <th>Edit Ticket</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var ticket in Model.Item2)
                                                {
                                                <tr>
                                                    <td>@ticket.details.assignDeveloper</td>
                                                    <td>@ticket.details.ticketTitle</td>
                                                    <td>@ticket.details.ticketStatus</td>
                                                    <td>@Html.ActionLink("Details", "TicketDetails", new { id = ticket._id })</td>
                                                    <td>
                                                        @using (Html.BeginForm("Redirect2", "User", FormMethod.Post))
                                                        {
                                                            @Html.Hidden("ProjectID", ticket.details.project_id);
                                                            @Html.Hidden("TicketID", ticket._id);
                                                            @Html.Hidden("Address", "EditTicket");
                                                            <button type="submit" style="padding:0;" class="btn btn-link">Edit Ticket</button>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.container-fluid -->
                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Bug Tracker 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Log Out</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('table.table-bordered').DataTable();
            $(":submit").click(function () {
                $(this).prop('disabled', true);
            });
        });
    </script>
</body>

</html>
