@using Bug_Tracker.Models;
@model IEnumerable<Bug_Tracker.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Dashboard", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-bug"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Bug Tracker</div>
                </a>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider my-0">
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Dashboard", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    Restricted Pages
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Admin</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Admin Pages:</h6>
                        <a class="collapse-item" href="@Url.Action("ManageRoleProject", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                            Manage Role
                            <br>
                            <small class="form-text text-muted">Change User Role/Status</small>
                        </a>
                        <a class="collapse-item" href="@Url.Action("ManageUser", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                            Manage User
                            <br>
                            <small class="form-text text-muted">Invite or Remove User</small>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    User Pages
                </div>
            </li>

            <!-- Nav Item - Projects -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Project", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>My Projects</span>
                </a>
            </li>

            <!-- Nav Item - Tickets -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tickets", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                    <i class="fas fa-fw fa-table"></i>
                    <span>My Tickets</span>
                </a>
            </li>

            @if (HttpContext.Current.Session["ID"].ToString() != "Guest")
            {
                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UserProfile", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                        <i class="fas fa-user-tie"></i>
                        <span>Profile</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider d-none d-md-block">
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                @{
                                    if (HttpContext.Current.Session["MessageList"] != null)
                                    {
                                        List<Bug_Tracker.Models.Message> messages = HttpContext.Current.Session["MessageList"] as List<Bug_Tracker.Models.Message>;

                                        <span class="badge badge-danger badge-counter">
                                            @messages.Count
                                        </span>
                                    }
                                }
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message
                                </h6>
                                @{if (HttpContext.Current.Session["MessageList"] != null)
                                    {
                                        //https://stackoverflow.com/questions/8194238/how-to-retrieve-a-generic-list-from-session
                                        List<Bug_Tracker.Models.Message> messages = HttpContext.Current.Session["MessageList"] as List<Bug_Tracker.Models.Message>;
                                        int condition = 5; //Default Message Size Shown on Screen is 5
                                        if (messages != null)
                                        {
                                            if (messages.Count < 5)
                                            {
                                                condition = messages.Count;
                                            }

                                            for (int i = 0; i < condition; i++)
                                            {
                                                <a class="dropdown-item d-flex align-items-center" href="~/User/Message">
                                                    <div class="font-weight-bold">
                                                        <div class="text-truncate">Sender: @messages[i].Sender</div>
                                                        <div class="small text-gray-500">Subject: @messages[i].Subject</div>
                                                        <div class="small text-gray-500">Message: @messages[i].Content</div>
                                                    </div>
                                                </a>
                                            }
                                        }

                                    }
                                }
                                <a class="dropdown-item text-center small text-gray-500" href="~/User/Message">Read More Messages</a>
                                <a class="dropdown-item text-center small text-gray-500" href="~/User/SendMessage">Send a Message</a>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @if (HttpContext.Current.Session["Username"] != null)
                                    {
                                        @HttpContext.Current.Session["Username"].ToString()
                                    }
                                </span>
                                <img class="img-profile rounded-circle" src="~/Content/img/profile.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @if (HttpContext.Current.Session["ID"].ToString() != "Guest")
                                {
                                    <a class="dropdown-item" href="@Url.Action("UserProfile", null, new { area = string.Empty, controller = "User" }, Request.Url.Scheme)">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                }
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav><!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @{//https://stackoverflow.com/questions/45865404/display-alert-message-on-ok-button-click-redirecttoaction
                        var parameter = Request.QueryString["message"];
                        //Check parameter here and display Message
                        if (parameter == "UsernameChanged")
                        {
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Username has been successfully changed</strong>
                            </div>
                        }
                        if (parameter == "EmailChanged")
                        {
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email has been successfully changed</strong>
                            </div>
                        }
                        if (parameter == "PasswordChanged")
                        {
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password has been successfully changed</strong>
                            </div>
                        }
                        if (parameter == "FillAll")
                        {
                            <div class="alert alert-warning alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please fill in all fields</strong>
                            </div>
                        }
                        if (parameter == "PasswordMismatch")
                        {
                            <div class="alert alert-warning alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The two new passwords do not match. Try again</strong>
                            </div>
                        }
                        if (parameter == "IncorrectPassword")
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirmation Password Is Incorrect. Try again</strong>
                            </div>
                        }
                        if (parameter == "Error")
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> An error has occurred. Try again</strong>
                            </div>
                        }
                        if (parameter == "EmailTaken")
                        {
                            <div class="alert alert-warning alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email has been taken. Try again</strong>
                            </div>
                        }
                    }
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Profile</h1>
                    <div class="card">
                        <div class="card-body">

                            @foreach (var item in Model)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="m-0 font-weight-bold text-primary"><strong>Profile</strong></h6>
                                        This page displays and allows you to change your user information.
                                    </div>
                                    <div class="card-body">
                                        <!--Accordion wrapper-->
                                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                                            <!-- Accordion card -->
                                            <div class="card">

                                                <!-- Card header -->
                                                <div class="card-header" role="tab" id="headingOne1">
                                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                                       aria-controls="collapseOne1">
                                                        <h5 class="mb-0">
                                                            Change Email Address
                                                        </h5>
                                                    </a>
                                                </div>

                                                <!-- Card body -->
                                                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                                    <div class="card-body">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div>
                                                                    Current Email:
                                                                    @Html.DisplayFor(modelItem => item.Email)
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <!--Finish-->
                                                                @using (Html.BeginForm("ChangeEmail", "User", FormMethod.Post))
                                                                {
                                                                    <div class="form-group">
                                                                        <label for="ticketTitle">Enter your account's password to validate this action.</label>
                                                                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter Password to confirm identity", autocomplete = "new-password" } })
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="ticketTitle">Enter the Email Address you wish to change to.</label>
                                                                        @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Enter Email Address" } })
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Accordion card -->
                                            <!-- Accordion card -->
                                            <div class="card">

                                                <!-- Card header -->
                                                <div class="card-header" role="tab" id="headingTwo2">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                                       aria-expanded="false" aria-controls="collapseTwo2">
                                                        <h5 class="mb-0">
                                                            Change Username
                                                        </h5>
                                                    </a>
                                                </div>

                                                <!-- Card body -->
                                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                                    <div class="card-body">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div>
                                                                    Current Username:
                                                                    @Html.DisplayFor(modelItem => item.Username)
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                @using (Html.BeginForm("ChangeUsername", "User", FormMethod.Post))
                                                                {
                                                                    <div class="form-group">
                                                                        <label for="ticketTitle">Enter your account's password to validate this action.</label>
                                                                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter Password to confirm identity", autocomplete = "new-password" } })
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="ticketTitle">Enter the username you wish to change to.</label>
                                                                        @Html.Editor("Username", new { htmlAttributes = new { @class = "form-control", placeholder = "Enter New Username" } })
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Accordion card -->
                                            <!-- Accordion card -->
                                            <div class="card">

                                                <!-- Card header -->
                                                <div class="card-header" role="tab" id="headingThree3">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                                       aria-expanded="false" aria-controls="collapseThree3">
                                                        <h5 class="mb-0">
                                                            Change Password
                                                        </h5>
                                                    </a>
                                                </div>

                                                <!-- Card body -->
                                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                                    <div class="card-body">
                                                        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                                                        {
                                                            <div class="form-group">
                                                                <label for="ticketTitle">Enter your account's password to validate this action..</label>
                                                                @Html.Editor("OldPassword", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter Password to confirm identity", autocomplete = "new-password" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ticketTitle">Enter the new password you wish to change to.</label>
                                                                @Html.Editor("NewPassword", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter New Password" } })
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ticketTitle">Enter the new password again to confirm.</label>
                                                                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter New Password to confirm" } })
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Accordion card -->

                                        </div>
                                        <!-- Accordion wrapper -->
                                    </div>
                                </div>

                            }

                        </div>



                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Bug Tracker 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-primary">Log Out</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <script>
            $(document).ready(function () {
                $(":submit").click(function () {
                    $(this).prop('disabled', true);
                });
            });
        </script>
</body>

</html>
